{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mx-auto px-16">
    <h1 class="text-3xl text-center font-bold">
        Bienvenue sur Support
    </h1>
    <p>
        Besoin d'aide ? Notre application de support est là pour vous ! Contactez-nous pour obtenir une assistance rapide et efficace, disponible 24/7. 
    </p>
</div>
{% endblock %}
